@model VendeAgroWeb.Models.Portal.MisAnunciosViewModel
@{
    if (Model.Anuncios.Count <= 0)
    {
        <div class="col-sm-6 col-sm-offset-3" style="text-align: center;">
            <h2>Aún no tienes anuncios disponibles.</h2>
        </div>
    }
    else
    {
        foreach (var item in Model.Anuncios)
        {
            if (item.Estado == EstadoAnuncio.Vacio)
            {
                <div class="col-sm-4 col-md-3">
                    <div class="col-xs-12">
                        <div class="row" style="margin-top:25px;">
                            <a class="btn btn-default btn-renovar" href="/Portal/CrearAnuncio?id=@item.Id" style="background-color: #428bca;">
                                <p>Crear</p>
                            </a>
                        </div>
                        <div class="row">
                            <div class="mis-anuncios-paquete-container" style="min-height: 235px; background-color: #04612d;">
                                <div style="width: 100%; height: 235px; display: block; position: relative;" class="wrapper-texto-container">
                                    <a class="mi-anuncio-link" style="position: absolute; width: 100%; height: 100%;" href="/Portal/CrearAnuncio?id=@item.Id">
                                        <p class="wrapper-texto-vacio">
                                            @{

                                                if (item.Paquete != null)
                                                {
                                                    @item.Paquete.Meses<span> MESES</span><br>
                                                }
                                                if (item.Beneficios != null)
                                                {
                                                    foreach (var i in item.Beneficios)
                                                    {
                                                        <span class="glyphicon glyphicon-check"></span>@i.Descripcion<br>
                                                    }
                                                }
                                            }
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                continue;
                }
                if (item.Estado == EstadoAnuncio.PendientePorAprobar)
                {
                <div class="col-sm-4 col-md-3">
                    <div class="col-xs-12">
                        <div class="row" style="margin-top:76px;">
                        </div>
                        <div class="row">
                            <div class="mis-anuncios-paquete-container">
                                <div class="mis-anuncios-anuncio" style="min-height: 235px;">
                                    <div class="mis-anuncios-wrapper" style="max-height:235px;">
                                        <p class="wrapper-texto">Ver detalles</p>
                                        <div class="mis-anuncios-imagen-container">
                                            <a class="mi-anuncio-link" style="position: absolute; width: 100%; height: 100%;" href="/Portal/DetallesAnuncio?id=@item.Id">
                                            </a>
                                            <iframe frameborder="0" class="iframe-foto-portal" scrolling="no" src="@item.ImagenPrincipal" onload=resizeImg(this)></iframe>
                                        </div>
                                        <div class="movil-anuncio-titulo movil-mis-anuncios ofertas-anuncio-titulo">
                                            <div class="row mis-anuncios-anuncio-titulo mis-anuncios-titulo anuncio-pendiente">
                                                <a class="mi-anuncio-link" style="position: absolute; width: 100%; height: 100%;" href="/Portal/DetallesAnuncio?id=@item.Id">
                                                </a>
                                                <p class="titulo">@item.Titulo</p>
                                                <p class="estado"><strong><span class="glyphicon glyphicon-exclamation-sign"></span></strong> Pendiente por aprobar</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                continue;
                }
                if (item.Estado == EstadoAnuncio.Aprobado)
                {
                    <div class="col-sm-4 col-md-3">
                        <div class="col-xs-12">
                            <div class="row" style="margin-top:25px;">
                                <a class="btn btn-default menu-grad btn-renovar" href="/Portal/RenovarAnuncio?id=@item.Id">
                                    <p>Renovar</p>
                                </a>
                            </div>
                            <div class="row">
                                <div class="mis-anuncios-paquete-container">
                                    <div style="width:@item.TiempoRestante%" class="degradado-verde degradado-verde-activos"></div>
                                    <div class="mis-anuncios-anuncio" style="min-height: 215px;">
                                        <div class="mis-anuncios-wrapper" style="max-height:215px;">
                                            <p class="wrapper-texto">Ver detalles</p>
                                            <div class="mis-anuncios-imagen-container" style="max-height:215px;!important;">
                                                <a class="mi-anuncio-link" style="position: absolute; width: 100%; height: 100%;" href="/Portal/DetallesAnuncio?id=@item.Id">
                                                </a>
                                                <iframe frameborder="0" class="iframe-foto-portal" scrolling="no" src="@item.ImagenPrincipal" onload=resizeImg(this)>
                                                </iframe>
                                            </div>
                                            <div class="movil-anuncio-titulo movil-mis-anuncios ofertas-anuncio-titulo">
                                                <div class="row mis-anuncios-anuncio-titulo mis-anuncios-titulo anuncio-aprobado">
                                                    <p class="titulo">@item.Titulo</p>
                                                    <p class="estado"><strong><span class="glyphicon glyphicon-check"></span></strong>Aprobado</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    continue;
                    }
                    if (item.Estado == EstadoAnuncio.NoAprobado)
                    {
                        <div class="col-sm-4 col-md-3">
                            <div class="col-xs-12">
                                <div class="row" style="margin-top:25px;">
                                    <a class="btn btn-success btn-modificar btn-renovar" href="/Portal/ModificarAnuncio?id=@item.Id">Modificar</a>
                                </div>
                                <div class="row">
                                    <div class="mis-anuncios-paquete-container">
                                        <div class="mis-anuncios-anuncio" style="min-height: 235px;">
                                            <div class="mis-anuncios-wrapper" style="max-height:235px;">
                                                <p class="wrapper-texto">Ver detalles</p>
                                                <div class="mis-anuncios-imagen-container">
                                                    <a class="mi-anuncio-link" style="position: absolute; width: 100%; height: 100%;" href="/Portal/DetallesAnuncio?id=@item.Id">
                                                    </a>
                                                    <iframe frameborder="0" class="iframe-foto-portal" scrolling="no" src="@item.ImagenPrincipal" onload=resizeImg(this)></iframe>
                                                </div>
                                                <div class="movil-anuncio-titulo movil-mis-anuncios ofertas-anuncio-titulo">
                                                    <div class="row mis-anuncios-anuncio-titulo mis-anuncios-titulo anuncio-no-aprobado">
                                                        <p class="titulo">@item.Titulo</p>
                                                        <p class="estado"><strong><span class="glyphicon glyphicon-remove"></span></strong> Rechazado</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        }

<script>
    function resizeImg(obj) {
        var doc = obj.contentWindow.document;
        doc.body.children[0].style.width = '100%';
        doc.body.children[0].style.height = '235px';
    }
</script>
