@model VendeAgroWeb.Models.Portal.CrearAnuncioViewModel

@{
    ViewBag.Title = "Crear Anuncio";
    Layout = "Shared/_PortalLayout.cshtml";
}

<div class="row mis-anuncios-global">
    <div class="col-sm-12 boton-atras-container">
        <div class="col-sm-3" style="display: inline-block">
            <a class="btn btn-default menu-grad mis-anuncios-atras" href="/Portal/MisAnuncios">
                <p>atrás</p>
                <span class="glyphicon glyphicon-chevron-left" />
            </a>
        </div>

        <div class="col-sm-6 mis-anuncios-titulo-container" style="display: inline-block">
            <h2 class="mis-anuncios-titulo">Nuevo Anuncio</h2>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="login-form">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control", placeholder = "Título del anuncio", id = "anuncio-titulo" } })
                        @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
                        <label class="login-field-icon glyphicon glyphicon-pencil" for="anuncio-titulo"></label>
                    </div>
                    <div class="form-group">
                        @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control", placeholder = "Precio del producto", id = "anuncio-precio" } })
                        @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                        <label class="login-field-icon glyphicon glyphicon-usd" for="anuncio-precio"></label>
                    </div>

                    <div class="form-group">
                        @Html.TextAreaFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", placeholder = "Descripción del producto", id = "categoria-nombre" } })
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                        <label class="login-field-icon glyphicon glyphicon-tag" for="categoria-nombre"></label>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>Fotos del anuncio</strong></div>
                        <div class="panel-body">
                            <table class="table table-responsive" style="margin-top: 30px;">
                                <tbody>
                                    <tr class="row-tabla-foto">
                                        <td class="foto-tabla-titulo">Foto de display</td>
                                        <td><img class="img-selected foto-vacia" src="~/img/foto-vacia.png" /></td>
                                        <td>
                                            <div class="form-group">
                                                <div class="btn btn-success image-preview-input" id="img-inp-btn">
                                                    <span class="glyphicon glyphicon-folder-open"></span>
                                                    <span style="padding-left: 3px;" class="image-preview-input-title">Modificar</span>
                                                    <input class="input-absoluto" type="file" id="imagen" onchange="loadFile(event)">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    @for (int i = 1; i < Model._numFotos; i++)
                                    {
                                        <tr class="row-tabla-foto">
                                            <td class="foto-tabla-titulo">Foto</td>
                                            <td><img class="img-selected foto-vacia" src="~/img/foto-vacia.png" /></td>
                                            <td>
                                                <div class="form-group">
                                                    <div class="btn btn-success image-preview-input" id="img-inp-btn">
                                                        <span class="glyphicon glyphicon-folder-open"></span>
                                                        <span style="padding-left: 3px;" class="image-preview-input-title">Modificar</span>
                                                        <input class="input-absoluto" type="file" id="imagen" onchange="loadFile(event)">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    if (Model._video)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong>Video del anuncio</strong></div>
                            <div class="panel-body">
                                <table class="table table-responsive" style="margin-top: 30px;">
                                    <tbody>
                                        <tr class="row-tabla-foto">
                                            <td class="foto-tabla-titulo">Video del anuncio</td>
                                            <td><img class="img-selected foto-vacia" src="~/img/foto-vacia.png" /></td>
                                            <td>
                                                <div class="form-group">
                                                    <div class="btn btn-success image-preview-input" id="img-inp-btn">
                                                        <span class="glyphicon glyphicon-folder-open"></span>
                                                        <span style="padding-left: 3px;" class="image-preview-input-title">Modificar</span>
                                                        <input class="input-absoluto" type="file" id="imagen" onchange="loadFile(event)">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                }
                </div>
            </div>
        </div>
    </div>
