@model VendeAgroWeb.Models.Pagina.PortalAnunciosViewModel
@{
    if (Model.Anuncios.Count <= 0)
    {
        <div class="no-hay-anuncios">
            <p style="
               text-align: center;
               font-size: 20px;
               margin-top: 50px;
               margin-left: 20px;
               margin-right: 20px;
               ">Por el momento no hay anuncios disponibles.</p>
            <a style="text-align: center;
               font-size: 26px;
               display: block;
               margin-left: 20px;
               margin-right: 20px;
               margin-top: 10px;
               color: #abc114;" href="/Home/Anunciate">Se el primero en anunciarte!</a>
        </div>
    }
    else
    {
        foreach (var anuncio in Model.Anuncios)
        {
            <div class="anuncio-desktop">
                <div class="anuncio-container">
                    <div class="row anuncio-titulo">
                        <p class="titulo">@anuncio.Titulo</p>
                        <p class="precio">$@anuncio.Precio</p>
                    </div>
                    <div class="col-sm-12 anuncio-contenido">
                        <div class="row">
                            <div style="padding-left:0px;">
                                <div class="imagen-container">
                                    <a class="btn-fotos" data-id="@anuncio.Id"><img src="@anuncio.FotoPrincipal" /></a>
                                </div>
                            </div>
                            <div class="col-sm-3" style="margin-left: 13px;">
                                <div class="row informacion-container">
                                    <p class="titulo">Categoria</p>
                                    <p class="informacion">@anuncio.Categoria</p>
                                    <p class="titulo">Subcategoria</p>
                                    <p class="informacion">@anuncio.Subcategoria</p>
                                    <p class="titulo">Estado</p>
                                    <p class="informacion">@anuncio.Estado</p>
                                </div>
                            </div>
                            <div class="anuncio-botones-container">
                                <div class="row acciones-container">
                                    <button id="btn-preguntar" data-id="@anuncio.Id" class="btn btn-default anuncio-boton menu-grad anuncio-preguntar" type="button">Preguntar</button>
                                    <a id="btn-detalles" href="/Home/AnuncioDetalles?id=@anuncio.Id&consulta=@ConsultarDetalles.Index" class="btn btn-default anuncio-boton menu-grad anuncio-detalles">Detalles</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row" style="text-align: center;">
            <ul class="pagination">
                @{
                    var numPaginas = Math.Ceiling(Model.Total / 20.0);
                    var pagActual = Model.Index / 20 + 1;

                    if (numPaginas >= 3)
                    {
                        if (pagActual == 1)
                        {
                            <li data-index="0" class="pag-actual"><a class="pag-actual">1</a></li>
                            <li data-index="20"><a>2</a></li>
                            <li data-index="@((numPaginas-1)*20)"><a>@numPaginas</a></li>
                            <li data-index="20"><a>></a></li>
                        }
                        else if (pagActual == numPaginas)
                        {

                            <li data-index="@((numPaginas-2)*20)"><a><</a></li>
                            <li data-index="0"><a>1</a></li>
                            <li data-index="@((numPaginas-2)*20)"><a>@(numPaginas - 1)</a></li>
                            <li data-index="@((numPaginas-1)*20)" class="pag-actual"><a class="pag-actual">@numPaginas</a></li>
                        }
                        else
                        {
                            <li data-index="@((pagActual-2)*20)"><a><</a></li>
                            <li data-index="0"><a>1</a></li>
                            if (pagActual - 1 != 1)
                            {
                                <li data-index="@((pagActual-2)*20)"><a>@(pagActual - 1)</a></li>
                            }
                            <li data-index="@((pagActual-1)*20)" class="pag-actual"><a class="pag-actual">@pagActual</a></li>
                            if(pagActual + 1 != numPaginas)
                            {
                                <li data-index="@((pagActual)*20)"><a>@(pagActual+1)</a></li>
                            }
                            <li data-index="@((numPaginas-1)*20)"><a>@numPaginas</a></li>
                            <li data-index="@((pagActual)*20)"><a>></a></li>
                        }
                    }
                    else if (numPaginas == 2)
                    {
                        if (pagActual == 1)
                        {
                            <li data-index="0" class="pag-actual"><a class="pag-actual">1</a></li>
                            <li data-index="20"><a>2</a></li>
                            <li data-index="20"><a>></a></li>
                        }
                        else
                        {
                            <li data-index="0"><a><</a></li>
                            <li data-index="0"><a>1</a></li>
                            <li data-index="20" class="pag-actual"><a class="pag-actual">2</a></li>
                        }
                    }
                    else { }
                }
            </ul>
        </div>
    }
}

<style>
    a.pag-actual{
        background-color:#eeeeee !important;
        cursor: auto !important;
    }
</style>

<script>
    $('.btn-fotos').click(function () {
        fotosClick($(this).data('id'));
    });

    $(".pagination > li").click(function () {
        if ($(this).hasClass("pag-actual")) return;
        var index = $(this).data('index');
        getAnunciosDestacados(index);
        getAnunciosDestacadosMovil(index);
    });
</script>