<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Mercampo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="wrapper">
        <div class="menu-redondeado-container">
            @Html.Partial("_MenuPagina")
        </div>
        <div class="menu-movil-container">
            @Html.Partial("_MenuMovilPagina")
        </div>
        @*<div id="registro" class="modal fade" role="dialog">
            <div class="modal-dialog modal-registro-container">
                <div class="modal-content modal-registro botones-grad">
                    @Html.Partial("_Registro")
                </div>
            </div>
        </div>
        <div id="login" class="modal fade" role="dialog">
            <div class="modal-dialog modal-registro-container">
                <div class="modal-content modal-registro botones-grad">
                    @Html.Partial("_Login")
                    @Html.Partial("_OlvidasteContrasena")
                </div>
            </div>
        </div>*@
        <div class="container body-content">
            @RenderBody()
        </div>
        <div class="menu-grad footer-container">
            <footer>
                <p>&copy; @DateTime.Now.Year Todos los derechos reservados.</p>
                <p>Mercampo</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    document.getElementById("olvidaste-contrasena-cliente").click(function () {
        $("#login-cliente").hide();
        $("#olvidaste-cliente").show();
    });
</script>