@model VendeAgroWeb.Models.Portal.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<div class="row login-cliente-container" id="login-cliente">
    <div class="col-sm-12">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="logo-login" style="text-align: center;">
                <img src="~/img/logo.png"/>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-sm-9 registro-campos">
                        <div class="form-group">
                            <div class="login-campo">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control campos-registro", placeholder = "Email" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="login-campo">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control campos-registro", placeholder = "Contraseña" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                                <div class="text-container" style="position: relative; display: inline-block;">
                                    <input type="submit" value="Iniciar Sesión" class="btn btn-default registrar-boton menu-grad" />
                                    <span class="glyphicon glyphicon-user" style="position: absolute; left: 22px; top: 12px; color:white;"></span>
                                </div>
                        </div>
                        <div class="olvidaste-contrasena-cliente">
                            <p id="olvidaste-contrasena-cliente"><a class="registrate-texto btn">¿Olvidaste tu contraseña?</a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

