@model VendeAgroWeb.Models.Portal.RegistroViewModel

@{
    ViewBag.Title = "Registro";
}

<div class="col-sm-12">
    <div class="row registro-general">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="logo-login" style="text-align: center;">
                <h2 style="font-size: 30px !important; color: #E42B22 !important; margin-bottom: 20px;">Registro</h2>
            </div>
            <div class="registro">
                <div class="proceso-registro-contenido" style="display:none;">
                    <h3 style="text-align: center; color: #F6AB21;">Procesando registro, favor de no recargar la p&aacute;gina.</h3>
                    <img class="loader-anuncios" src="~/img/loader.gif" />
                </div>
                <div class="registro-campos" style="display:none;">
                    <div class="error-row alert alert-danger" style="text-align:center;">
                        <p id="error-mensaje"></p>
                    </div>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group registro-campo">
                                <input id="NombreRegistro" class="form-control campos-registro text-box single-line" data-val="true" data-val-required="*Campo requerido." data-val-length="*El nombre solo puede contener caracteres alfabéticos" id="Nombre" data-val-length-max="El nombre debe ser menor a 51 caracteres." data-val-length-min="El nombre debe ser mayor a 2 caracteres." name="Nombre" placeholder="Nombre" type="text">
                                @Html.ValidationMessageFor(m => Model.Nombre, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group registro-campo">
                                <input id="ApellidosRegistro" class="form-control campos-registro text-box single-line" data-val="true" data-val-required="*Campo requerido." id="Apellidos" data-val-length="*Los apellidos solo pueden contener caracteres alfabéticos" data-val-length-max="Los apellidos deben ser menores a 81 caracteres." data-val-length-min="Los apellidos deben ser mayores a 2 caracteres." name="Apellidos" placeholder="Apellidos" type="text">
                                @Html.ValidationMessageFor(m => Model.Apellidos, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group registro-campo">
                                <input id="CelularRegistro" class="form-control campos-registro text-box single-line" data-val="true" data-val-length="*El teléfono solo puede contener dígitos." data-val-length-max="El teléfono debe tener menos de 15 dígitos" data-val-length-min="*El téléfono debe tener al menos 10 dígitos" data-val-required="*Campo requerido." id="Celular" name="Celular" placeholder="Teléfono" type="tel">
                                @Html.ValidationMessageFor(m => Model.Celular, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group registro-campo">
                                <input id="EmailRegistro" class="form-control campos-registro text-box single-line" data-val="true" data-val-email="El email introducido no es válido." data-val-required="*Campo requerido." id="Email" name="Email" placeholder="Email" type="email">
                                @Html.ValidationMessageFor(m => Model.Email, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group registro-campo">
                                <input id="PasswordRegistro" class="form-control campos-registro text-box single-line password" data-val="true" data-val-length-max="La contraseña debe tener un máximo de 40 caracteres." data-val-length="La contraseña debe de ser mínimo de 6 caracteres." data-val-required="*Campo requerido." id="Password" name="Password" placeholder="Contraseña" type="password">
                                @Html.ValidationMessageFor(m => Model.Password, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group registro-campo">
                                <input id="ConfirmarPassRegistro" class="form-control campos-registro text-box single-line password" data-val="true" data-val-equalto="La contraseña y su confirmacion no son iguales." data-val-equalto-other="*.Password" id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirmar contraseña" type="password">
                                @Html.ValidationMessageFor(m => Model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group" style="text-align: center;">
                                <div class="text-container" style="position: relative; display: inline-block;">
                                    <a class="btn btn-default registrar-boton menu-grad boton-Registro">Reg&iacute;strate</a>
                                    <span class="glyphicon glyphicon-user" style="position: absolute; left: 22px; top: 12px; color:white;"></span>
                                </div>
                            </div>
                            <div style="text-align: center;">
                                <p class="registrate-texto">O regístrate con</p>
                            </div>
                            <div class="col-sm-9 registrate-facebook">
                                <div class="social-wrap a">
                                    <fb:login-button scope="public_profile,email" size="large" onlogin="checkLoginState();">
                                        Facebook
                                    </fb:login-button>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
            <div id="registro-llena">

            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

<script>
    function statusChangeCallback(response) {
        if (response.status === 'connected') {
            testAPI();
        } else if (response.status === 'not_authorized') {
        } else {
        }
    }

    function checkLoginState() {
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    }

    window.fbAsyncInit = function() {
        FB.init({
            appId      : '595649353960312',
            cookie     : true,  
            xfbml      : true, 
            version    : 'v2.8' 
        });

        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });

    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function testAPI() {
        var params = {
            fields: 'first_name,middle_name,last_name,email'
        };
        FB.api('/me', params, function(response) {
            if(!response.middle_name)
            {
                $('#NombreRegistro').val(response.first_name);
            }
            else 
            {
                $('#NombreRegistro').val(response.first_name + ' ' + response.middle_name);
            }
            if(response.last_name)
            {
                $('#ApellidosRegistro').val(response.last_name);
            }
            $('#EmailRegistro').val(response.email);
        });
    }

    $(document).ready(function(){
        $.when(mueveRegistro()).done(agregaClick);
        $("#CelularRegistro").mask("(999) 999-9999");
    });

    function mueveRegistro(){
        $('#registro-llena').html($('.registro-campos').html());
        $('.registro-campos').html('');
    }

    function validaNombre(nombre) {
        if (nombre == "") {
            $(".field-validation-valid[data-valmsg-for='Nombre']").html($("#NombreRegistro").data("val-required")).show();
            return false;
        }

        if (nombre.length < 3) {
            $(".field-validation-valid[data-valmsg-for='Nombre']").html($("#NombreRegistro").data("val-length-min")).show();
            return false;
        }

        if (nombre.length > 50) {
            $(".field-validation-valid[data-valmsg-for='Nombre']").html($("#NombreRegistro").data("val-length-max")).show();
            return false;
        }

        var letters = /^[A-Za-zÑñáéíóúÁÉÍÓÚ][a-zÑñáéíóúÁÉÍÓÚA-Z ]+$/; 
        if(!letters.test(nombre))
        {
            $(".field-validation-valid[data-valmsg-for='Nombre']").html($("#NombreRegistro").data("val-length")).show();
            return false;

        }
        $(".field-validation-valid[data-valmsg-for='Nombre']").html('').hide();
        return true;
    }

    function validaApellidos(apellidos) {
        if (apellidos == "") {
            $(".field-validation-valid[data-valmsg-for='Apellidos']").html($("#ApellidosRegistro").data("val-required")).show();
            return false;
        }

        if (apellidos.length < 3) {
            $(".field-validation-valid[data-valmsg-for='Apellidos']").html($("#ApellidosRegistro").data("val-length-min")).show();
            return false;
        }

        if (apellidos.length > 80) {
            $(".field-validation-valid[data-valmsg-for='Apellidos']").html($("#ApellidosRegistro").data("val-length-max")).show();
            return false;
        }

        var letters = /^[A-Za-zÑñáéíóúÁÉÍÓÚ][a-zÑñáéíóúÁÉÍÓÚA-Z ]+$/;  
        if(!letters.test(apellidos))
        {
            $(".field-validation-valid[data-valmsg-for='Apellidos']").html($("#ApellidosRegistro").data("val-length")).show();
            return false;

        }
        $(".field-validation-valid[data-valmsg-for='Apellidos']").html('').hide();
        return true;
    }

    function validaCelular(celular) {
        if (celular == "") {
            $(".field-validation-valid[data-valmsg-for='Celular']").html($("#CelularRegistro").data("val-required")).show();
            return false;
        }
        if (!$.isNumeric(celular) && celular.charAt(0) != '+') {
            $(".field-validation-valid[data-valmsg-for='Celular']").html($("#CelularRegistro").data("val-length")).show();
            return false;
        }
        if (celular.length < 10) {
            $(".field-validation-valid[data-valmsg-for='Celular']").html($("#CelularRegistro").data("val-length-min")).show();
            return false;
        }
        if(celular.length > 14){
            $(".field-validation-valid[data-valmsg-for='Celular']").html($("#CelularRegistro").data("val-length-max")).show();
            return false;
        }
        $(".field-validation-valid[data-valmsg-for='Celular']").html('').hide();
        return true;
    }


    function validaEmail(email) {
        if (email.length <= 0)
        {
            $(".field-validation-valid[data-valmsg-for='Email']").html($("#EmailRegistro").data("val-required")).show();
            console.log("entro1");
            return false;
        }
        if (!validateEmail(email))
        {
            $(".field-validation-valid[data-valmsg-for='Email']").html($("#EmailRegistro").data("val-email")).show();
            console.log("entro2");

            return false;
        }
        console.log("entro3");
        $(".field-validation-valid[data-valmsg-for='Email']").hide();
        return true;
    }

    function validaPassword(password) {
        if (password.length < 6) {
            $(".field-validation-valid[data-valmsg-for='Password']").html($("#PasswordRegistro").data("val-length")).show();
            return false;
        }
        if (password.length > 40) {
            $(".field-validation-valid[data-valmsg-for='Password']").html($("#PasswordRegistro").data("val-length-max")).show();
            return false;
        }
        $(".field-validation-valid[data-valmsg-for='Password']").html('').hide();
        return true;
    }

    function agregaClick() {
        $(".boton-Registro").click(function () {
            var redirect = getUrlParameter('redirect');
            if (typeof redirect == 'undefined')
            {
                redirect = false;
            }
            else{
                redirect = true;
            }
            var nombre = $("input#NombreRegistro").val();
            var apellidos = $("input#ApellidosRegistro").val();
            var email = $("input#EmailRegistro").val();
            var password = $("#PasswordRegistro").val();
            var passwordConfirm = $("#ConfirmarPassRegistro").val();
            var celular = $("#CelularRegistro").unmask();
            var valido = true;
            
            if (!validaNombre(nombre) || !validaApellidos(apellidos) || !validaCelular(celular.val())|| !validaEmail(email) || !validaPassword(password)) {
                $("#CelularRegistro").mask("(999) 999-9999");
                return;
            }

            if (password !== passwordConfirm) {
                valido = false;
            }
            else {
                $(".field-validation-valid[data-valmsg-for='ConfirmPassword']").html('').hide();
            }

            if (!valido) {
                $("#CelularRegistro").mask("(999) 999-9999");
                return;
            }


            $('#registro-llena').css('opacity', '0');
            $('.proceso-registro-contenido').show();
            var celular = $("#CelularRegistro").unmask();

            $.ajax({
                type: 'POST',
                data: { email: email, password: password, nombre: nombre, apellidos: apellidos, telefono: celular.val() },
                url: '/Portal/Registro',
                success: function (response) {
                    if (response == "MailOcupado") {
                        $('.proceso-registro-contenido').hide();
                        $('#registro-llena').css('opacity', '1');
                        $("#CelularRegistro").mask("(999) 999-9999");
                        $(".error-row").html("El email introducido ya se encuentra registrado en el sistema.").show('');
                        return;
                    }
                    else if (response == "TelefonoOcupado") {
                        $('.proceso-registro-contenido').hide();
                        $('#registro-llena').css('opacity', '1');
                        $("#CelularRegistro").mask("(999) 999-9999");
                        $(".error-row").html("El celular ya esta ocupado.").show();
                        return;
                    }
                    if(redirect){
                        window.location = "/Home/PagoCarritoTarjetas";
                    }
                    else
                    {
                        window.location = "/Home/Index?abrirLogin=1";
                    }
                },
                error: function (err) {

                }
            });

        });
    }

    function validateEmail(email) {
        var re = /^(([^<>()[\]\\.,;:\s@('@')\"]+(\.[^<>()[\]\\.,;:\s@('@')\"]+)*)|(\".+\"))@('@')((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }
</script>
