@model VendeAgroWeb.Models.Pagina.BeneficiosExtraViewModel

@{
    ViewBag.Title = "Beneficios Extra";
}

<div class="beneficios-extra-container">
    <h2 class="beneficios-extra-titulo beneficios-extra-agregar">¡Agrega beneficios a tu paquete!</h2>
    <div class="row beneficios-extra-estas-por-comprar">
        <div class="col-sm-offset-4 col-sm-4 paquete-por-comprar">
            <span class="glyphicon glyphicon-ok palomita"></span>
            <div class="paquete-por-comprar-texto">
                <h2>@Model.Paquete.Nombre</h2>
                <h2>@Model.Paquete.Meses<span> @(Model.Paquete.Meses == 1 ? "MES" : "MESES")</span></h2>
            </div>
        </div>
    </div>
    <div class="row beneficios-container">

        @{
            foreach (var item in Model.Beneficios)
            {
                <div class="row">
                    <div class="col-sm-9 check-container">
                        <div class="checkbox check-beneficio">
                            <label>
                                <input type="checkbox">@item.Descripcion
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3 check-container">
                        <p class="texto-beneficio"><span>$</span>@item.Precio</p>
                    </div>
                </div>
                <hr />
            }
        }
    </div>
    <div style="margin-top: 30px;">
        <a class="btn botones-grad beneficios-boton" href="/Home/CarritoDeCompra">Terminar Pedido</a>
        <a class="btn seguir-comprando-boton beneficios-boton" href="/Home/Anunciate">Seguir Comprando</a>
    </div>
</div>