@model CarritoDeCompra

@{
    ViewBag.Title = "Carrito de Compra";
}

@{
    if (Model.Paquetes.Count <= 0)
    {
        <div class="no-hay-anuncios">
            <p style="
               text-align center;
               font-size 20px;
               margin-top 50px;
               margin-left 20px;
               margin-right 20px;
               ">El carrito de compras esta vacio</p>
            <a style="text-align: center;
               font-size: 26px;
               display: block;
               margin-left: 20px;
               margin-right: 20px;
               margin-top: 10px;
               color: #abc114;" href="/Home/Anunciate">Selecciona alguno de nuestros planes y contratalo</a>
        </div>
        <style>
            .no-hay-anuncios{
                text-align: center;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                -webkit-transform: translate(-50%,-50%);
                -moz-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                -o-transform: translate(-50%,-50%);
            }

            .no-hay-anuncios p{
                font-size: 25px !important;
            }
        </style>
    }
    else
    {
        <div class="row" style="margin-top: 40px;">
            <div class="col-sm-offset-2 col-sm-8">
                <div class="pasos-pago">
                    <div class="col-sm-offset-1 col-sm-10 primer-paso-pago">
                        <div class="primer-paso-contenedor" style="width:100% !important;">
                            <div class="pasos-texto">
                                <span class="numero-pasos-pago">1</span>
                                <p>Resumen del pedido</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="paso1" style="display:none;">
                    <div class="table-responsive tabla-carrito">
                        <table class="table table-borderless table-responsive">
                            <thead class="botones-grad">
                                <tr>
                                    <th class="tabla-carrito-titulo">Nombre</th>
                                    <th class="tabla-carrito-titulo" style="min-width: 70px;"></th>
                                    <th class="tabla-carrito-titulo">Precio</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int cont = 0;
                                    foreach (var item in Model.Paquetes)
                                    {
                                        var numBeneficios = item.Beneficios.Count();
                                        <tr class="tabla-carrito-container @(numBeneficios > 0 ? "beneficio-carrito-container" : "")">
                                            <td style="display: none">cont</td>
                                            <td class="paquete-carrito table-carrito-data">
                                                <h2>@item.Meses<span> @(item.Meses == 1 ? "MES" : "MESES")</span></h2>
                                                <ul>
                                                    <li>@item.Nombre</li>
                                                    @{
                                                        if (item.EsRenovacion())
                                                        {
                                                            <li>Renovacion: @item.NombreAnuncio</li>
                                                        }
                                                    }
                                                </ul>
                                            </td>
                                            <td class="borrar-carrito table-carrito-data">
                                                <a href="EliminaPaqueteDeCarrito?index=@cont"><img style="width:100%;" src="~/img/delete.png" /></a>
                                            </td>
                                            <td class="precio-carrito td-precio-carrito table-carrito-data">
                                                <p><span>$</span>@item.Precio</p>
                                            </td>
                                        </tr>

                                        foreach (BeneficioCarrito i in item.Beneficios)
                                        {
                                            <tr class="@(numBeneficios <= 1 ? "tabla-carrito-container" : "beneficio-carrito-container")">
                                                <td class="paquete-carrito table-carrito-data">
                                                    <p class="beneficio-carrito-texto">@i.Descripcion</p>
                                                </td>
                                                <td class="borrar-carrito table-carrito-data">
                                                    @{
                                                        if (!item.EsRenovacion() || i.Tipo == (int)VendeAgroWeb.Models.Pagina.BeneficiosExtraTipo.OfertaDelDia)
                                                        {
                                                            <a href="EliminaBeneficioDePaquete?index=@cont&id=@i.Id"><img style="width:100%;" src="~/img/delete.png" /></a>
                                                        }
                                                    }
                                                </td>
                                                <td class="precio-carrito td-precio-carrito table-carrito-data">
                                                    <p><span>$</span>@i.Precio</p>
                                                </td>
                                            </tr>
                                            numBeneficios--;
                                        }
                                        cont++;
                                    }
                                }
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="carrito-de-compra-titulo-total td-precio-carrito">
                                        <h2><span>$</span>@Model.TotalCarrito</h2>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="margin-top: 30px;">
                        <a href="/Home/PagoCarritoTarjetas" class="btn btn-default botones-grad pagar-boton continuar-pago-boton" id="paso1-continuar">Continuar</a>
                    </div>
                </div>
            </div>
        </div>

        <script>
        $(window).ready(function () {
            $("#paso1").show();
            $('.primer-paso-contenedor').css("background-color", "#0275d8");
            $('.primer-paso-contenedor .pasos-texto').css("color", "white");
        });
        </script>
                                    }

}
