@model VendeAgroWeb.Models.Pagina.HomeViewModel

@{
    ViewBag.Title = "Inicio";
}

<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-12 home-body-container">
            @Html.Partial("_BannerCentral")
            <div class="row">
                <div class="col-sm-3 expander-3">
                    <div class="col-sm-12 busqueda-titulo-container titulos">
                        <div class="busqueda-container">
                            <div class="busqueda-fixed">
                                <h3>Búsqueda</h3>
                                <div id="categoria-dropdown" class="dropdown">
                                    <button id="btn-categoria" class="btn btn-default dropdown-toggle botones-grad busqueda-dropdown" type="button" data-toggle="dropdown">
                                        Categoría
                                        <span class="caret"></span>
                                    </button>
                                    <ul id="categorias" class="dropdown-menu"></ul>
                                </div>
                                <div id="subcategoria-dropdown" class="dropdown">
                                    <button id="btn-subcategoria" class="btn btn-default dropdown-toggle botones-grad busqueda-dropdown" type="button" data-toggle="dropdown">
                                        Subcategoría
                                        <span class="caret"></span>
                                    </button>
                                    <ul id="subcategorias" class="dropdown-menu">
                                        <li><a href="#">Elige una categoría...</a></li>
                                    </ul>
                                </div>
                                <div id="pais-dropdown" class="dropdown">
                                    <button id="btn-pais" class="btn btn-default dropdown-toggle botones-grad busqueda-dropdown" type="button" data-toggle="dropdown">
                                        País
                                        <span class="caret"></span>
                                    </button>
                                    <ul id="paises" class="dropdown-menu"></ul>
                                </div>
                                <div id="estado-dropdown" class="dropdown">
                                    <button id="btn-estado" class="btn btn-default dropdown-toggle botones-grad busqueda-dropdown" type="button" data-toggle="dropdown">
                                        Estado
                                        <span class="caret"></span>
                                    </button>
                                    <ul id="estados" class="dropdown-menu">
                                        <li><a href="#">Elige un país...</a></li>
                                    </ul>
                                </div>
                                <div id="ciudad-dropdown" class="dropdown">
                                    <button id="btn-ciudad" class="btn btn-default dropdown-toggle botones-grad busqueda-dropdown" type="button" data-toggle="dropdown">
                                        Ciudad
                                        <span class="caret"></span>
                                    </button>
                                    <ul id="ciudades" class="dropdown-menu">
                                        <li><a href="#">Elige un estado...</a></li>
                                    </ul>
                                </div>
                                <div class="slider-container">
                                    <div class="price-container row">
                                        <p class="precio-izq">$<span id="value-izq">100</span></p>
                                        <p class="precio-der">$<span id="value-der">5000</span></p>
                                    </div>
                                    <div class="slider" id="slider">
                                    </div>
                                </div>
                                <div style="margin-top: 19px;">
                                    <button id="btn-precio" class="btn btn-default botones-grad" type="button">
                                        Filtrar precio
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 expander-6">
                    <div class="row">
                        <div class="destacados-titulo-container titulos">
                            <h3>Destacados</h3>
                        </div>
                        <div class="anuncios-container">
                            <img class="loader-anuncios" src="~/img/loader.gif" />
                        </div>
                        <div style="display: none;" class="loader-container">
                            <img class="loader-anuncios" src="~/img/loader.gif" />
                        </div>
                        <div style="display:none;" class="anuncios-filtrados-container">
                        </div>
                        <div class="col-xs-12 anuncios-movil-container">
                            <img class="loader-anuncios" src="~/img/loader.gif" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 esconder-banners">
                    <div style="width: 100%; position: relative;">
                        <div class="banners-container">
                            @Html.Partial("_BannerLateral")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/nouislider")
@Scripts.Render("~/bundles/wNumb")

<script>
    var idCategoria = -1;
    var idSubcategoria = -1;
    var idPais = -1;
    var idEstado = -1;
    var idCiudad = -1;
    var precioBajo = 100;
    var precioAlto = 10000;

    $(document).ready(function () {
        $.ajax({
            type: "POST",
            data: {},
            url: '/Home/AnunciosDestacadosPartial',
            success: function (result) {
                $(".anuncios-container").html(result);
            },
            error: function (msg) {
                console.log(msg);
            }
        });

        $.ajax({
            type: "POST",
            data: {},
            url: '/Home/AnunciosDestacadosMovilPartial',
            success: function (result) {
                $(".anuncios-movil-container").html(result);
            },
            error: function (msg) {
                console.log(msg);
            }
        });
    });

    var slider = document.getElementById('slider');

    noUiSlider.create(slider, {
        start: [100, 250000],
        step: 100,
        margin: 50,
        connect: true,
        range: {
            'min': 100,
            'max': 500000
        },
        format: wNumb({
            thousand: ',',
            decimals: 0
        })
    });

    valueIzq = document.getElementById('value-izq'),
    valueDer = document.getElementById('value-der');

    slider.noUiSlider.on('update', function (values, handle) {
        if (!handle) {
            precioBajo = parseFloat(values[handle]).toFixed(0);
            valueIzq.innerHTML = values[handle];
        } else {
            precioAlto = parseFloat(values[handle]).toFixed(0);
            valueDer.innerHTML = values[handle];
        }
    });

    $(document).ready(function () {
        recalcularTamanos();
    });

    $(window).resize(function () {
        recalcularTamanos();
    });

    function recalcularTamanos() {
        var width = $(window).innerWidth();
        if (width <= 1000) {
            $('.expander-3').removeClass('col-sm-3').addClass('col-sm-4');
            $('.expander-6').removeClass('col-sm-6').addClass('col-sm-8');
            $('.esconder-banners').hide();
            return;
        }
        $('.expander-3').removeClass('col-sm-4').addClass('col-sm-3');
        $('.expander-6').removeClass('col-sm-8').addClass('col-sm-6');
        $('.esconder-banners').show();
    }

    $("#btn-categoria").click(function () {
        getCategorias();
    });

    $("#btn-pais").click(function () {
        getPaises();
    });

    $("#btn-precio").click(function () {
        getAnunciosDestacadosFiltrados();
    });

    function categoriasClick(elemento) {
        if (elemento.data('id') == idCategoria) {
            return;
        }
        if (idSubcategoria != -1) {
            $("#btn-subcategoria:first-child").html("Subcategor&iacute;a" + '<span class="caret"></span>');
            idSubcategoria = -1;
        }
        idCategoria = elemento.data('id');
        if (idCategoria == -1) {
            $("#btn-categoria:first-child").html("Categor&iacute;a" + '<span class="caret"></span>');
        }
        else {
            $("#btn-categoria:first-child").html(elemento.text() + '<span class="caret"></span>');
            getSubcategorias(idCategoria);
        }
        getAnunciosDestacadosFiltrados();
    }

    function subcategoriasClick(elemento) {
        idSubcategoria = elemento.data('id');
        if (idSubcategoria == -1) {
            $("#btn-subcategoria:first-child").html("Subcategor&iacute;a" + '<span class="caret"></span>');
        }
        else {
            $("#btn-subcategoria:first-child").html(elemento.text() + '<span class="caret"></span>');
        }
        getAnunciosDestacadosFiltrados();
    }

    function paisesClick(elemento) {
        if (elemento.data('id') == idPais) {
            return;
        }
        if (idEstado != -1) {
            $("#btn-estado:first-child").html("Estado" + '<span class="caret"></span>');
            idEstado = -1;
        }
        if (idCiudad != -1) {
            $("#btn-ciudad:first-child").html("Ciudad" + '<span class="caret"></span>');
            idCiudad = -1;
        }

        idPais = elemento.data('id');
        if (idPais == -1) {
            $("#btn-pais:first-child").html("Pa&iacute;s" + '<span class="caret"></span>');
        }
        else {
            $("#btn-pais:first-child").html(elemento.text() + '<span class="caret"></span>');
            getEstados(idPais);
        }
        getAnunciosDestacadosFiltrados();
    }

    function estadosClick(elemento) {
        if (elemento.data('id') == idEstado) {
            return;
        }

        if (idCiudad != -1) {
            $("#btn-ciudad:first-child").html("Ciudad" + '<span class="caret"></span>');
            idCiudad = -1;
        }

        idEstado = elemento.data('id');
        if (idEstado == -1) {
            $("#btn-estado:first-child").html("Estado" + '<span class="caret"></span>');
        }
        else {
            $("#btn-estado:first-child").html(elemento.text() + '<span class="caret"></span>');
            getCiudades(idEstado);
        }
        getAnunciosDestacadosFiltrados();
    }

    function ciudadesClick(elemento) {
        idCiudad = elemento.data('id');
        if (idCiudad == -1) {
            $("#btn-ciudad:first-child").html("Ciudad" + '<span class="caret"></span>');
        }
        else {
            $("#btn-ciudad:first-child").html(elemento.text() + '<span class="caret"></span>');
        }
        getAnunciosDestacadosFiltrados();
    }

    function getCategorias() {
        $.ajax({
            type: "POST",
            data: {},
            url: '/Home/CategoriasPartial',
            success: function (result) {
                $("#categorias").html(result);
            },
            error: function (msg) {
                console.log(msg);
                alert("Error en categorias: " + msg);
            }
        });
    }

    function getSubcategorias(id) {
        $.ajax({
            type: "POST",
            data: {},
            url: '/Home/SubcategoriasPartial?idCategoria=' + id,
            success: function (result) {
                $("#subcategorias").html(result);
            },
            error: function (msg) {
                console.log(msg);
                alert("Error en subcategorias: " + msg);
            }
        });
    }

    function getPaises() {
        $.ajax({
            type: "POST",
            data: {},
            url: '/Home/PaisesPartial',
            success: function (result) {
                $("#paises").html(result);
            },
            error: function (msg) {
                console.log(msg);
                alert("Error en paises: " + msg);
            }
        });
    }

    function getEstados(id) {
        $.ajax({
            type: "POST",
            data: {},
            url: '/Home/EstadosPartial?idPais=' + id,
            success: function (result) {
                $("#estados").html(result);
            },
            error: function (msg) {
                console.log(msg);
                alert("Error en estados: " + msg);
            }
        });
    }

    function getCiudades(id) {
        $.ajax({
            type: "POST",
            data: {},
            url: '/Home/CiudadesPartial?idEstado=' + id,
            success: function (result) {
                $("#ciudades").html(result);
            },
            error: function (msg) {
                console.log(msg);
                alert("Error en ciudades: " + msg);
            }
        });
    }

    function getAnunciosDestacadosFiltrados() {
        $('.loader-container').show();
        $('.anuncios-container').hide();
        $('.anuncios-filtrados-container').hide();

        $.ajax({
            type: "POST",
            data: {},
            url: '/Home/DestacadosFiltradosPartial?idCategoria=' + idCategoria + "&idSubcategoria=" + idSubcategoria + "&idPais=" + idPais + "&idEstado=" + idEstado + "&idCiudad=" + idCiudad,
            success: function (result) {
                $(".anuncios-filtrados-container").html(result);
                $('.loader-container').hide();
                $('.anuncios-filtrados-container').show();
            },
            error: function (msg) {
                console.log(msg);
                alert("Error en filtros: " + msg);
            }
        });

        $.ajax({
            type: "POST",
            data: {},
            url: '/Home/DestacadosFiltradosMovilPartial?idCategoria=' + idCategoria + "&idSubcategoria=" + idSubcategoria + "&idPais=" + idPais + "&idEstado=" + idEstado + "&idCiudad=" + idCiudad,
            success: function (result) {
                $(".anuncios-movil-container").html(result);
                $('.loader-container').hide();
            },
            error: function (msg) {
                console.log(msg);
            }
        });
    }

    $(window).scroll(function () {
        if ($(this).scrollTop() > 250) {
            $('.banners-container').addClass('banners-fixed');
            $('.busqueda-fixed').addClass('banners-fixed');
        } else {
            $('.banners-container').removeClass('banners-fixed');
            $('.busqueda-fixed').removeClass('banners-fixed');
        }
    });
</script>
