@model VendeAgroWeb.Models.Administrador.AnunciosViewModel

<div class="row">
    @{
        <p class="anuncios-de-categoria" style="display:none;"><a href="/Administrador/Categorias">@Model.NombreCategoria</a><span> > </span><span>Anuncios</span></p>
        <p class="anuncios-de-subcategoria" style="display:none;"><a href="/Administrador/Subcategorias">@Model.NombreSubcategoria</a><span> > </span><span>Anuncios</span></p>
        <p class="anuncios-de-usuario" style="display:none;"><a href="/Administrador">@Model.NombreUsuario</a><span> > </span><span>Anuncios</span></p>

    }
</div>
<div class="buscador-anuncios" style="margin-bottom:20px">
    <form role="search" class="form-horizontal forma-busqueda" style="position:relative !important;">
        <div class="input-group">
            <input type="text" class="form-control buscar" placeholder="Buscar anuncio">
            <div class="input-group-btn">
                <a class="btn btn-default busqueda">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
            </div>
        </div>
    </form>
</div>
<div class="table-responsive" id="anuncios">
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Precio</th>
                <th>Usuario</th>
                <th>Categoría</th>
                <th>Subcategoría</th>
                <th>Estado</th>
                <th>Ciudad</th>
                <th>Clicks</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.Anuncios.Count < 1)
                {
                    <tr><td colspan="9">No hay anuncios en esta modalidad.</td></tr>
                }
                else
                {
                    foreach (var item in Model.Anuncios)
                    {
                        <tr>
                            <td class="filtro">@item.Titulo</td>
                            <td>@item.Precio</td>
                            <td>@item.Usuario</td>
                            <td>@item.Categoria</td>
                            <td>@item.Subcategoria</td>
                            <td class="filtro">@item.Estado</td>
                            <td class="filtro">@item.Ciudad</td>
                            <td>@item.Clicks</td>
                            <td><a class="btn btn-primary btn-8-caracteres" href="/Administrador/AnuncioDetalles?id=@item.Id">detalles</a></td>
                            @if (item.Status == EstadoAnuncio.Aprobado)
                            {
                                if (item.Activo)
                                {
                                    <td><a class="btn btn-danger btn-10-caracteres" href="/Administrador/DesactivarAnuncio?id=@item.Id">desactivar</a></td>
                                }
                                @*else
                                {
                                    <td><a class="btn btn-success btn-7-caracteres" href="/Administrador/ActivarAnuncio?id=@item.Id">activar</a></td>
                                }*@
                            }
                        </tr>
                    }
                }

            }
        </tbody>
    </table>
</div>

<script>
    $('.buscar').keyup(function () {
        var query = $(this).val();
        query = query.toLowerCase();

        $('#anuncios tbody tr').each(function () {
            var actual = $(this);
            var hijos = actual.children('.filtro');
            actual.hide();
            for (var i = 0; i < hijos.length; i++) {
                var texto = $(hijos[i]).html().toLowerCase();
                if (texto.indexOf(query) != -1) {
                    $(hijos[i]).parent().show();
                    break;
                }
            }
        });
    });

    $('.hide-anuncios-de-categoria').html($('.anuncios-de-categoria').html());
    $('.hide-anuncios-de-subcategoria').html($('.anuncios-de-subcategoria').html());
    $('.hide-anuncios-de-usuario').html($('.anuncios-de-usuario').html());

</script>