@model VendeAgroWeb.Models.Administrador.AnuncioDetallesViewModel

@{
    ViewBag.Title = "Administración Anuncio Detalles";
    Layout = "Shared/_AdministradorLayout.cshtml";
}

@Styles.Render("~/owl/css")


<div class="row">
    <div class="col-sm-6">
        <div class="estatus-container">
            @{
                if (Model.Status == EstadoAnuncio.Aprobado)
                {
                    if (!Model.Activo)
                    {
                        <div class="alert alert-info">
                            <strong><span class="glyphicon glyphicon-info-sign"></span></strong> Anuncio finalizado
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-success">
                            <strong><span class="glyphicon glyphicon-check"></span></strong> Anuncio aprobado
                        </div>
                    }

                }
                else if (Model.Status == EstadoAnuncio.NoAprobado)
                {
                    <div class="alert alert-danger">
                        <strong><span class="glyphicon glyphicon-remove-sign"></span></strong> Anuncio no aprobado
                    </div>
                }
                else if(Model.Status == EstadoAnuncio.PendientePorAprobar)
                {
                    <div class="alert alert-warning">
                        <strong><span class="glyphicon glyphicon-question-sign"></span></strong> Anuncio pendiente por aprobar
                    </div>
                }
                else
                {
                    
                }
            }
            
        </div>

        <div class="img-grande-container">
            @{
                var fotoPrincipal = Model.Fotos.Where(f => f.Principal == true)?.FirstOrDefault();
                if (fotoPrincipal != null)
                {
                    <img src="@fotoPrincipal.Ruta" class="imagen-grande" />
                }
            }
        </div>

        <div id="owl-demo" class="itemsScaleUp-false owl-carousel owl-theme">
            @{
                foreach (var foto in Model.Fotos)
                {
                    var clase = "";
                    if (foto.Principal)
                    {
                        clase = "activo";
                    }
                    <div class="item @clase">
                        <img src="@foto.Ruta" />
                    </div>
                }
            }
        </div>
    </div>

    <div class="col-sm-6">
        <h2 style="margin-top:7px;">Informaci&oacute;n general</h2>
        <hr />
        <h3><span>T&iacute;tulo: </span>@Model.Anuncio.Titulo</h3>
        <h4><span>Precio: </span>$@Model.Anuncio.Precio</h4>
        <p><span>Descripci&oacute;n: </span>@Model.Descripcion</p>
        <hr />
        <h2 style="margin-top:15px;">Detalles de compra</h2>
        <hr />
        <table class="table table-bordered">
            <tbody>
                @{
                    if (Model.Paquete != null)
                    {
                        <tr>
                            <td><strong>Paquete</strong></td>
                            <td>@Model.Paquete.Nombre</td>
                        </tr>
                        <tr>
                            <td><strong>Fecha de inicio</strong></td>
                            <td>@Model.Paquete.FechaInicio.ToString("dd-MM-yyyy")</td>
                        </tr>
                        <tr>
                            <td><strong>Fecha de fin</strong></td>
                            <td>@Model.Paquete.FechaFin.ToString("dd-MM-yyyy")</td>
                        </tr>
                    }
                }
                
                <tr>
                    <td><strong>Beneficios</strong></td>
                    <td>
                        <p><span class="glyphicon glyphicon-check"></span> 10 fotos</p>
                        <p><span class="glyphicon glyphicon-check"></span> Oferta del d&iacute;a</p>
                    </td>
                </tr>
            </tbody>
        </table>
        @{
            if (Model.Status == EstadoAnuncio.PendientePorAprobar)
            {
                <div class="contenedor-forma-rechazar">
                    <form class="form-horizontal" action="" method="post" id="forma-rechazar">
                        <input name="id" value="" type="hidden" />
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Introduzca comentarios del motivo del rechazo del anuncio." rows="3"></textarea>
                        </div>
                        <div class="form-group" style="text-align:center;">
                            <a href="" type="submit" id="boton-detalles" class="btn btn-danger">Rechazar</a>
                        </div>
                    </form>
                    <div class="text-center">
                        <a id="boton-detalles" class="btn btn-success">Aprobar</a>
                    </div>
                </div>
            }

            if (Model.Status == EstadoAnuncio.NoAprobado)
            {
                <hr />
                <h4 style="margin-top:-10px;margin-bottom:-10px;">Razones no aprobado</h4>
                <hr />
            }
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/carousel/js")
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#owl-demo").owlCarousel({
            itemsScaleUp: false,
            items: 5,
            navigation: true
        });

        //var content = $(".owl-wrapper").html();
        //var d = document.createElement('div');
        //$(d).addClass("contenedor-carousel").html(content);
        //$(".owl-wrapper").html('').append(d);
        //if ($(d).width() > $("#owl-demo").width())
        //    $(".owl-wrapper").html(content);

        $(".item").click(function () {
            var src = $(this).children('img').attr('src');
            $(".activo").removeClass("activo");
            $(this).addClass("activo");
            $(".imagen-grande").attr("src", src);
        });
    });


</script>
<style>
    #forma-rechazar .form-group {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    #boton-detalles{
        width:50%;
    }
</style>