@model VendeAgroWeb.Models.Administrador.AnuncioDetallesViewModel

@{
    ViewBag.Title = "Administración Anuncio Detalles";
    Layout = "Shared/_AdministradorLayout.cshtml";
}

@Styles.Render("~/owl/css")


<div class="row">
    <div class="col-sm-6">
        <div class="estatus-container">
            @{
                if (Model.Anuncio.Status == EstadoAnuncio.Aprobado)
                {
                    if (!Model.Anuncio.Activo)
                    {
                        <div class="alert alert-info">
                            <strong><span class="glyphicon glyphicon-info-sign"></span></strong> Anuncio finalizado
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-success">
                            <strong><span class="glyphicon glyphicon-check"></span></strong> Anuncio aprobado
                        </div>
                    }

                }
                else if (Model.Anuncio.Status == EstadoAnuncio.NoAprobado)
                {
                    <div class="alert alert-danger">
                        <strong><span class="glyphicon glyphicon-remove-sign"></span></strong> Anuncio no aprobado
                    </div>
                }
                else if (Model.Anuncio.Status == EstadoAnuncio.PendientePorAprobar)
                {
                    <div class="alert alert-warning">
                        <strong><span class="glyphicon glyphicon-question-sign"></span></strong> Anuncio pendiente por aprobar
                    </div>
                }
                else
                {

                }
            }

        </div>

        <div class="img-grande-container">
            @{
                var fotoPrincipal = Model.Fotos.Where(f => f.Principal == true).FirstOrDefault();
                if (fotoPrincipal != null)
                {
                    <iframe frameborder="0" class="iframe-foto-detalles" scrolling="no" src="@fotoPrincipal.Ruta" onload="resizeImg(this)"></iframe>
                }
            }
        </div>

        <div class="video-container">
            @{
                if (Model.TieneVideo)
                {
                    <video style="width: 100%; height: 100%;" controls>
                        <source src="@Model.Video" type="video/mp4">
                    </video>
                }
            }
        </div>

        <div id="owl-demo" class="itemsScaleUp-false owl-carousel owl-theme">
            @{
                foreach (var foto in Model.Fotos)
                {
                    var clase = "";
                    if (foto.Principal)
                    {
                        clase = "activo";
                    }
                    <div class="item @clase">
                        <iframe frameborder="0" class="iframe-foto-detalles" scrolling="no" src="@foto.Ruta" onload="resizeImg(this)"></iframe>
                    </div>
                }

                if (Model.TieneVideo)
                {
                    <div class="item video">
                        <div class="video-link"><p>Video</p></div>
                    </div>
                }
            }
        </div>
    </div>

    <div class="col-sm-6">
        <h2 style="margin-top:7px;">Informaci&oacute;n general</h2>
        <hr />
        <h3><span>T&iacute;tulo: </span>@Model.Anuncio.Titulo</h3>
        <h4><span>Precio: </span>$@Model.Anuncio.Precio</h4>
        <p><span>Descripci&oacute;n: </span>@Model.Descripcion</p>
        <p><span><strong>Fecha de inicio: </strong></span>@Model.FechaInicio.Value.ToString("dd-MM-yyyy")</p>
        <p><span><strong>Fecha de fin: </strong></span>@Model.FechaFin.Value.ToString("dd-MM-yyyy")</p>
        <hr />
        <h2 style="margin-top:15px;">Detalles de compra</h2>
        <hr />
        <table class="table table-bordered">
            <tbody>
                @{
                    if (Model.Paquete != null)
                    {
                        <tr>
                            <td><strong>Paquete</strong></td>
                            <td>@Model.Paquete.Nombre</td>
                        </tr>
                    }
                }

                <tr>
                    <td><strong>Beneficios</strong></td>
                    <td>
                        @{
                            foreach (var item in Model.Beneficios)
                            {
                                <p><span class="glyphicon glyphicon-check"></span>@item.Descripcion</p>
                            }
                        }
                    </td>
                </tr>
            </tbody>
        </table>
        @{
            if (Model.Anuncio.Status == EstadoAnuncio.PendientePorAprobar)
            {
                <div class="contenedor-forma-rechazar">
                    <form class="form-horizontal" action="" method="post" id="forma-rechazar">
                        <input name="id" value="" type="hidden" />
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Introduzca comentarios del motivo del rechazo del anuncio." rows="3"></textarea>
                        </div>
                        <div class="form-group" style="text-align:center;">
                            <a href="" id="boton-detalles" class="btn btn-danger">Rechazar</a>
                        </div>
                    </form>
                    <div class="text-center">
                        <a id="boton-detalles" data-id="@Model.Anuncio.Id" class="btn btn-success boton-aprobar">Aprobar</a>
                    </div>
                </div>
            }

            if (Model.Anuncio.Status == EstadoAnuncio.NoAprobado)
            {
                <hr />
                <h4 style="margin-top:-10px;margin-bottom:-10px;">Razones no aprobado</h4>
                <hr />
            }
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/carousel/js")
}

<style>
    .item.video {
        width: 100%;
        height: 95%;
        background: black;
    }

        .item.video.activo {
            border: solid 2px red;
        }

    .video-link {
        top: 50%;
        position: relative;
        transform: translate(0,-50%);
    }

        .video-link p {
            color: white;
            text-align: center;
        }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $("#owl-demo").owlCarousel({
            itemsScaleUp: false,
            items: 5,
            navigation: true
        });

        $(".item").click(function () {
            var src = $(this).children('img').attr('src');
            $(".activo").removeClass("activo");
            $(this).addClass("activo");
            if ($(this).hasClass("video")) {
                $(".img-grande-container").hide()
                $(".video-container").show();
                return;
            }
            $(".img-grande-container").show();
            $(".video-container").hide();
            $(".imagen-grande").attr("src", src);
        });
    });

    $(".boton-aprobar").click(function () {
        var id = $(this).data("id");
        $.ajax({
            type: 'POST',
            url: '/Administrador/AprobarAnuncio?id=' + id,
            success: function (response) {
                if (response == "True") {
                    location.reload();
                    return;
                }
                alert("Error en la base de datos, vuelva a intentarlo.");

            },
            error: function (e) {
                alert("Se presento un error, volver a intentarlo");
            }

        })
    });

    function resizeImg(obj) {
        var doc = obj.contentWindow.document;
        doc.body.children[0].style.width = '100%';
        doc.body.children[0].style.height = '325px';
    }

    $(window).ready(function () {
        recalcularTamanos();
    });

    $(window).resize(function () {
        recalcularTamanos();
    });

    function recalcularTamanos() {
        var height = $(".item").height();
        $(".owl-item").each(function () {
            $(this).css("height", height + "px");
        });

        $(".video-container").css("height", $(".img-grande-container").first().innerHeight() + "px");
    }


</script>
<style>
    #forma-rechazar .form-group {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    #boton-detalles {
        width: 50%;
    }

    .video-container {
        margin-bottom: 30px;
        display: none;
    }
</style>