
@model VendeAgroWeb.Models.Administrador.CambiarContrasenaViewModel

@{
    ViewBag.Title = "Cambiar Contraseña";
    Layout = "Shared/_LoginLayout.cshtml";
}


<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="login-form">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                
                <div class="form-group">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Introduce la nueva contraseña", id = "login-pass" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    <label class="login-field-icon glyphicon glyphicon-lock" for="login-pass"></label>
                </div>

                <div class="form-group">
                    @Html.EditorFor(model => model.ConfirmaPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirma la contraseña", id = "login-confirma-pass" } })
                    @Html.ValidationMessageFor(model => model.ConfirmaPassword, "", new { @class = "text-danger" })
                    <label class="login-field-icon glyphicon glyphicon-lock" for="login-confirma-pass"></label>
                </div>

                <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-3 login-boton-container">
                        <input type="submit" value="Guardar" class="btn btn-primary btn-lg btn-login" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
