
@model VendeAgroWeb.Models.Administrador.NuevoPaqueteViewModel

@{
    ViewBag.Title = "Modificar Paquete";
    Layout = "Shared/_AdministradorLayout.cshtml";
}

<div class="row agregar-categoria-container">
    <h2>Modificar Paquete</h2>
    <div class="col-lg-6 col-lg-offset-3">

        <div class="error-row">
            <div class="alert alert-danger" style="text-align:center;">
                <p id="error-mensaje"></p>
            </div>
        </div>

        <div class="login-form">
            @using (Html.BeginForm("ModificarPaquete", "Administrador"))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", value = Model.Nombre, id = "paquete-nombre" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    <label class="login-field-icon glyphicon glyphicon-gift" for="paquete-nombre"></label>
                </div>

                <div class="form-group">
                    @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control", value = Model.Precio, id = "paquete-precio" } })
                    @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                    <label class="login-field-icon glyphicon glyphicon-usd" for="paquete-precio"></label>
                </div>

                    @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", type = "hidden", value = Model.Id } })
                    @Html.EditorFor(model => model.Meses, new { htmlAttributes = new { @class = "form-control", type = "hidden", value = Model.Meses, id = "paquete-meses" } })

                <div class="form-group">
                    @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", style = "width:100%; resize:none;", rows = '3', value = Model.Descripcion, id = "paquete-descripcion" })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                    <label class="login-field-icon glyphicon glyphicon-pencil" for="paquete-descripcion"></label>
                </div>

                <div class="row" style="margin-top: 20px;">
                    <div class="col-sm-6" style="text-align: center"><a class="btn btn-success" id="checar-ahorro" style="width: 100%;">Checar Ahorro </a></div>
                    <div class="col-sm-6">
                        <div class="texto-ahorro-container"><p>Ahorro: <span id="ahorro"></span>%</p></div>
                    </div>
                </div>

                <div class="form-group boton-guardar-container" style="margin-top: 20px">
                    <div class="col-sm-offset-3 col-sm-6" style="text-align: center;">
                        <input type="submit" value="Guardar Cambios" class="btn btn-primary btn-lg btn-login" />
                    </div>
                </div>
            }
        </div>
        <div class="col-sm-6 col-sm-offset-3 login-boton-container">
            <a class="btn btn-default btn-lg btn-login" href="/Administrador/Paquetes" style="margin-top:10px">Cancelar</a>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $('#checar-ahorro').click(function () {
        var precio = document.getElementById('paquete-precio').value;
        var meses = document.getElementById('paquete-meses').value;

        $.ajax({
            type: "POST",
            url: "/Administrador/calculaAhorro?meses=" + meses + "&precio=" + precio,
            data: {},
            success: function (result) {
                response = JSON.parse(JSON.stringify(result));
                console.log(response);

                if (response.success) {
                    $('#ahorro').text(response.porcentaje);
                    console.log('entro porcentaje');
                }
                else {
                    $('.error-row').show();
                    $('#error-mensaje').text(response.error);
                    console.log(response.error);
                }
            },
            error: function (msg) {
                console.log(msg);
            }
        });
    });
</script>