
@model VendeAgroWeb.Models.Administrador.NuevaSubcategoriaViewModel

@{
    ViewBag.Title = "Nueva Subcategoría";
    Layout = "Shared/_AdministradorLayout.cshtml";
}

<div class="row agregar-categoria-container">
    <h2>Nueva Subcategoría</h2>
    <div class="col-lg-6 col-lg-offset-3">
        <div class="login-form">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre de la subcategoría", id = "subcategoria-nombre" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    <label class="login-field-icon glyphicon glyphicon-tag" for="subcategoria-nombre"></label>
                </div>

                <div class="form-group boton-guardar-container">
                    <div class="col-sm-offset-3 col-sm-6" style="text-align: center;">
                        <input type="submit" value="Guardar" class="btn btn-primary btn-lg btn-login" />
                    </div>
                </div>
            }
        </div>
        <div class="col-sm-6 col-sm-offset-3 login-boton-container">
            <a class="btn btn-default btn-lg btn-login" href="/Administrador/Subcategorias" style="margin-top:10px">Cancelar</a>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
